.option-panel {

    width: 90%;
    max-width: 900px;

    margin: 40px auto;

    padding: 20px;

    border: 1px solid #ddd;

    border-radius: 8px;

}

.option-panel h2{

    margin-bottom:20px;

}

.option-panel label{

    display:block;

    margin-bottom:15px;

    cursor:pointer;

    font-size:16px;

}

.option-panel input{

    margin-right:10px;

}